body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4e1;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    text-align: center;
    background: #35424a;
    color: #ffffff;
    padding-top: 20px;
    border-bottom: #e8491d 3px solid;
}

/* nav behaviour*/
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Removing navigation link dots*/
header ul {
    margin: 0;
    padding: 0;
}

/* Making navs horizontal with space in between*/
header li {
    display: inline-block;
    width: auto;
    width: 10%;
    /* Making 10% width of nav with its parent.*/
    background-color: gray;
    padding: 0 30px 0 30px;
    margin-right: 30px;
}

header nav {
    margin-bottom: 15px;
}

/* header nav changes when clicked*/
header li.active {
    background-color: #e8491d;
    font-weight: bold;
}

/* header title changes*/
header h1.active {
    color: #e8491d;
}

/* when hovering, nav changes its font color*/
header a:hover {
    color: #ffffff;
    font-weight: bold;
}

article{ 
    padding: 40px;
    height: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 40px;    
    color: #ffffff;
    text-align: center;
}
/* Background image only for index.html*/
#showcase{
    background-image: url('images/showcase.jpg');
}

/* Table properties*/
table{  
    margin-top: 3%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
    border-spacing: 100px 120px;
}
th, td{
   padding: 8px;
   border: 10px solid #ddd;
   text-align: center;
}
table th{
    background-color: lightblue;
}
tbody tr:nth-child(odd) {
    background-color: lightyellow ;
}
table tbody tr:hover{
    background-color:  lightskyblue;
}

/* Fixed footer */
footer {
    padding: 10px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%
}

/* Bringing links in the middle*/
.link{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
/* mouse over link */
li:hover{
    font-weight: bold;
    color: darkblue;
}
/* Contact form*/
form{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-70%, -50%);
}
label{
    display: block;
    font-weight: bold;
    padding: 12px 12px 12px 0;
}
input, select, textarea{   
    padding: 12px;
    width: 150%;
    border-radius: 7px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.aboutme{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
img{
    margin-top: 50px;
}




